:root {
  //    colors
  --color-bg-main: #fff;
  --color-text-main: #000;
  --color-bg-footer: #F7F7F7;
  --color-text-footer: #545454;

  --color-text-accent: #FF6B08;
  --color-reiting-bg: #FF6B01;

  --pagination-color: rgba(255, 107, 8, 1);
}
