.header {
  background-image: url(../images/abstract-background-with-red-lines_1280.jpg);
  background-size: cover;
  padding-top: 15px;
  padding-bottom: 40px;
  width: 100%;
  
  @media screen and (max-width: 767px) { 
    position: fixed;
    z-index: 100;
    }

  @media screen and (min-width: 768px) {
    background-image: url(../images/abstract-background-with-red-lines_768.jpg);
    padding-top: 15px;
    padding-bottom: 80px;
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/abstract-background-with-red-lines_320.jpg);
  }
}

.header_lib {
  background-image: url(../images/Rectangle\ 320.jpg);
  background-size: cover;
  padding-top: 10px;
  padding-bottom: 25px;

  @media screen and (min-width: 768px) {
    background-image: url(../images/Rectangle_768.jpg);
    padding-top: 15px;
    padding-bottom: 80px;
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/Rectangle\ 1280\ 2x.jpg);
  }
}

.language_box {
  display: flex;
  justify-content: right;
  margin-bottom: 8px;
}

.language__item:not(:last-child) {
  margin-right: 8px;
}

.change__language {
  outline: none;
  border: 0;
  background: transparent;
  color: white;
  font-size: 12px;
  line-height: 12px;
}

.link__box {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.logo__box {
  display: flex;
  align-items: center;
  transition: scale 0.4s ease-in-out;
}

.logo__box:hover, .logo__box:focus {
  scale: 1.1;
}

.navigation__link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-shadow: 0 0 10px red,0 0 20px red,0 0 30px red,0 0 40px red;
}

.navigation__item {
  transition: scale 0.4s ease-in-out;
}

.navigation__item:hover, .navigation__item:focus {
  scale: 1.2;
}

.navigation__item:not(:last-child) {
  margin-right: 20px;
}

.navigation__item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 39px;
  }
}

.navigation__list {
  display: flex;
  list-style-type: none;
  justify-content: right;
  margin: 0;
  padding: 0;
}

.form {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;

  @include mq (mobile-only) {
    position: absolute;
    top: 35px;
    left:42%;
    transform:translate(-50%, -50%);
    transition: width 0.4s ease-in-out;
 }

  @media screen and (min-width: 768px) {
    margin-top: 41px;
  }
}

.header:hover .form{
display: block;
}

.header:hover .language_box{
  display: flex;
  }

.input__form {
  outline: none;
  position: relative;
  width: 80%;
  color: white;
  background-color: rgb(0, 0, 0, 0.01);
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: white;
  border-width: 0.5px;
  transition: width 0.4s ease-in-out;

  @media screen and (min-width: 768px) {
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    width: 394px;
  }
}

.image__logo {
  display: flex;
  margin-right: 12px;
  width: 24px;
  height: 24px;
}

.input__form::placeholder {
  color: white;
}

.logo {
  color: white;
  font-size: 30px;
  display: flex;
  display: none;
  transition: color 0.4s ease-in-out;
  text-shadow: 0 0 10px red,0 0 20px red,0 0 30px red,0 0 40px red;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.logo__box:hover .logo{
  color: rgba(255, 99, 71, 1);
}
.submit {
  position: relative;
  right: 25px;
  top: 5px;
  width: 24px;
  height: 24px;
  border: none;
  background: url(../images/search_2.svg) no-repeat center;
  cursor: pointer;
  transition: scale 450ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit:hover,
.submit:focus {
  scale: 1.5;
  transition: scale 450ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #ff001b;
}

.button__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

.button__item:not(:last-child) {
  margin-right: 16px;
}

.button_action {
  width: 148px;
  height: 42px;
  border-radius: 5px;
  border: 1px solid;
  border-color: white;
  color: white;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background-color: rgb(0, 0, 0, 0.01);
  transition: scale 450ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button_action:hover,
.button_action:focus {
  scale: 1.1;
  transition: scale 450ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
  background-color: #ff6b01;
  border: none;
}

.error__message {
  display: none;
  position: absolute;
  left: 0; right: 0;
  margin-top: 5px;
  font-size: 80%;
    line-height: 1.1;
  color: #ff001b;
  width: 140%;

  @media screen and (min-width: 768px) {
    margin-top: 20px;
    font-size: 100%;
    line-height: 1.15;
    color: #ff001b;
    width: 100%;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 19px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid var(--color-text-accent);
  z-index: 2;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 3px;
  bottom: 2px;
  background-color: var(--color-text-accent);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switcher {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left:42px;
}

.switcher-theme-name {
  background: none;
  outline: none;
  border: none;
  // color:#fff;
  font-size: 16px;
  line-height: 24px;
}


.dark {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  fill: var(--color-theme-svg-dark);
}
.light {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  fill: var(--color-theme-svg-light);
}
.title_box {
  display: flex;
  justify-content:flex-end;
}
