<section class="gallery section">
   <div class="container">
      <ul class="gallery list">

         <!-- !шаблон картки мейну -->
         '<li class="gallery__item">
            <a class="gallery__card" href="#">
               <picture>
                  <source media="(min-width: 1280px)" srcset="
                     https://image.tmdb.org/t/p/w500$[poster_path}    1x,
                     https://image.tmdb.org/t/p/original$[poster_path} 2x,
                     https://image.tmdb.org/t/p/original$[poster_path} 3x
                  " type="image/jpg" />
                  <source media="(min-width: 768px)" srcset="
                     https://image.tmdb.org/t/p/w342$[poster_path}    1x,
                     https://image.tmdb.org/t/p/w780$[poster_path} 2x,
                     https://image.tmdb.org/t/p/original$[poster_path} 3x
                  " type="image/jpg" />
                  <source media="(max-width: 767px)" srcset="
                     https://image.tmdb.org/t/p/w342$[poster_path}    1x,
                     https://image.tmdb.org/t/p/w780$[poster_path} 2x,
                     https://image.tmdb.org/t/p/original$[poster_path} 3x
                  " type="image/jpg" />
                  <img class="gallery__foto" src="https://image.tmdb.org/t/p/w500$[poster_path}" width="450"
                     height="294" alt="$[title} poster" loading="lazy" />
               </picture>
               <h2 class="gallery__subtitle">$[title}</h2>
               <div class="gallery__info">
                  <p class="gallery__genres">$[genre_ids}</p>
                  <p class="gallery__year">$[release_date}</p>
               </div>
            </a>
         </li>'

         <!-- !шаблон картки бібліотеки -->
         '<li class="gallery__item">
            <a class="gallery__card" href="#">
               <picture>
                  <source media="(min-width: 1280px)" srcset="
                              https://image.tmdb.org/t/p/w500$[poster_path}    1x,
                              https://image.tmdb.org/t/p/original$[poster_path} 2x,
                              https://image.tmdb.org/t/p/original$[poster_path} 3x
                           " type="image/jpg" />
                  <source media="(min-width: 768px)" srcset="
                              https://image.tmdb.org/t/p/w342$[poster_path}    1x,
                              https://image.tmdb.org/t/p/w780$[poster_path} 2x,
                              https://image.tmdb.org/t/p/original$[poster_path} 3x
                           " type="image/jpg" />
                  <source media="(max-width: 767px)" srcset="
                              https://image.tmdb.org/t/p/w342$[poster_path}    1x,
                              https://image.tmdb.org/t/p/w780$[poster_path} 2x,
                              https://image.tmdb.org/t/p/original$[poster_path} 3x
                           " type="image/jpg" />
                  <img class="gallery__foto" src="https://image.tmdb.org/t/p/w500$[poster_path}" width="450"
                     height="294" alt="$[title} poster" loading="lazy" />
               </picture>
               <h2 class="gallery__subtitle">$[title}</h2>
               <div class="gallery__info">
                  <p class="gallery__genres">$[genre_ids}</p>
                  <p class="gallery__year">$[release_date}</p>
                  <p class="gallery__vote-average">$[vote_average}</p>
               </div>
            </a>
         </li>'
      </ul>
   </div>
</section>