<footer class="footer">
  <div class="footer__block">
    <p class="footer__content">© 2022 | All Rights Reserved |</p>
    <p class="footer__develop">
      <span class="footer__developer">Developed with</span>
      <svg class="animate__heart">
        <use href="images/sprite-footer.svg#icon-heart1"></use>
      </svg>
      <svg class="animate__heart">
        <use href="images/sprite-footer.svg#icon-heart2"></use>
      </svg>
      <button class="btn" type="button">
        <span class="goit__stud footer__before-students">by</span>
        <img class="goit__btn" src="images/goit.png" alt="goit" />
        <span class="goit__stud students">Students</span>
      </button>
    </p>
  </div>
</footer>