<section class="header_lib">
    <div class="container box">
      <div class="link__box">
        <div class="logo__box">
        <img src="./images/film.svg" class="image__logo", alt="logo">
        <a href="" class="logo">library
        </a>
        </div>
        <nav class="navigation">
          <ul class="navigation__list">
            <li class="navigation__item home"><a class="navigation__link" href="index.html">Home</a></li>
            <li class="navigation__item"><a class="navigation__link current" href="library.html">my library</a></li>
          </ul>
        </nav>
      </div>
     <ul class="button__list">
        <li class="button__item">
            <button class="button_action active">Watched</button>
        </li>
        <li class="button__item">
            <button class="button_action">queue</button>
        </li>
     </ul>
     </section>