<header class="header" id="header">
  <div class="container box">

    <div class="title_box">
      <div class="switcher">
        <button class="switcher-theme-name dark">
          <svg class="icon_theme" width="18px" height="18px">
            <use href="/src/images/symbol-defs.svg#icon-sun"></use>
          </svg>
        </button>
        <label class="switch">
          <input type="checkbox" id="theme-switch">
          <span class="slider round"></span>
        </label>
        <button class="switcher-theme-name light">
          <svg class="dark_theme" width="15px" height="15px">
            <use href="/src/images/symbol-defs.svg#icon-moon-fill"></use>
          </svg>
        </button>
      </div>

    <div class="language_box">
      <li class="language__item">
        <button type="button" class="change__language en">En</button>
      </li>
      <li class="language__item">
        <button type="button" class="change__language uk">Укр</button>
      </li>
    </div>
    </div>
    <div class="link__box">
      <a href="/src/index.html" class="logo__box">
        <img src="./images/film.svg" class="image__logo" , alt="logo">
        <p class="logo">Filmoteka
        </p>
      </a>
      <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item home"><a class="navigation__link current" href="index.html">Home</a></li>
          <li class="navigation__item"><a class="navigation__link" href="library.html">my library</a></li>
        </ul>
      </nav>
    </div>
    <form action="" class="form">
      <input type="text" class="input__form" placeholder="Movie search">
      <button type="submit" class="submit"></button>
      <p class="error__message">Search result not successful. Enter the correct movie name and try again</p>
    </form>
</header>