<header class="header_lib">
    <div class="container box">
        <div class="title_box">
            <div class="switcher">
                <button class="switcher-theme-name light ">
                    <svg class="icon_theme" width="18px" height="18px">
                        <use href="/src/images/symbol-defs.svg#icon-sun"></use>
                    </svg>
                </button>
                <label class="switch">
                    <input type="checkbox" id="theme-switch">
                    <span class="slider round"></span>
                </label>
                <button class="switcher-theme-name dark">
                    <svg class="dark_theme" width="15px" height="15px">
                        <use href="/src/images/symbol-defs.svg#icon-moon-fill"></use>
                    </svg>
                </button>
            </div>

            <div class="language_box">
                <li class="language__item">
                    <button type="button" data-lang="english" class="change__language en">En</button>
                </li>
                <li class="language__item">
                    <button type="button" data-lang="ukrainian" class="change__language uk">Укр</button>
                </li>
            </div>
        </div>
        <div class="link__box">
            <a href="index.html" class="logo__box">
                <img src="./images/film.svg" class="image__logo" , alt="logo">
                <p href="index.html" class="logo">Filmoteka
                </p>
            </a>
            <nav class="navigation">
                <ul class="navigation__list">
                    <li class="navigation__item home"><a class="navigation__link" href="index.html" id="home">Home</a>
                    </li>
                    <li class="navigation__item"><a class="navigation__link current" href="library.html" id="library">my
                            library</a></li>
                </ul>
            </nav>
        </div>
        <ul class="button__list">
            <li class="button__item">
                <button class="button_action watched active" data-active='true'>Watched</button>
            </li>
            <li class="button__item">
                <button class="button_action queue">queue</button>
            </li>
        </ul>
    </div>
</header>