
<header class="header">
    <div class="container box">
      <div class="link__box">
        <a href="" class="logo">Filmoteka
        </a>
        <nav class="navigation">
          <ul class="navigation__list">
            <li class="navigation__item home"><a class="navigation__link current" href="#hero">Home</a></li>
            <li class="navigation__item"><a class="navigation__link" href="#our-products">my library</a></li>
          </ul>
        </nav>
      </div>
      <form action="" class="form">
        <input type="text" class="input__form" placeholder="Movie search">
      <button type="button" class="submit"></button>
      </form>