<section class="section gallery__container">
    <div class="container">
        <div class="container-lib no-movie__eng display__none">
            <div class="div__text--decoration">
                <p class="container-lib__text"><span class="container-lib__text--span">Sorry,
                        <hr />
                    </span>there are no movies in the library</p>
                <a class='container-lib__link' href="/src/index.html">Home</a>
            </div>
        </div>

        <div class="container-lib no-movie__ukr display__none">
            <div class="div__text--decoration">
                <p class="container-lib__text"><span class="container-lib__text--span">Вибачте,
                        <hr />
                    </span>фільми в бібліотеці відсутні</p>
                <a class='container-lib__link' href="/src/index.html">Home</a>
            </div>
        </div>

        <ul class="gallery-lib list">
        </ul>
    </div>
</section>