<div class="backdrop display__none">
    <div class="modal">
        <button class="button-modal__close" type="button">
            <svg width="30" height="30">
                <use class="button-modal__close--svg" href="./images/sprite-modal.svg#icon-close"></use>
            </svg>
        </button>
        <button class="trailer hide" type="button">
            <svg class="trailer__icon" width="40" height="40">
                <use href="./images/sprite-trailer.svg#icon-youtube"></use>
            </svg>
        </button>
    </div>
</div>