<div class="backdrop">
    <div class="modal">
        <button class="button-modal__close" type="button">X</button>
        <div class="button-modal--flex">
            <img class="button-modal__img" src="https://klike.net/uploads/posts/2019-05/1556708032_1.jpg" alt="">
            <div class="modal__about--movie">
                <h2 class="modal__about--title">as</h2>
                <p class="modal__about--title--movie">Vote / Votes <span class="modal__about--rating">7.3</span><span
                        class="modal__about--title--movie-slech">/</span> <span
                        class="modal__about--text--bleck">1260</span>
                </p>
                <p class="modal__about--title--movie">Popularity<span
                        class="modal__about--text--popularity">100.2</span>
                <p class="modal__about--title--movie">Original Title<span class="modal__about--text--original--title">A
                        FISTFUL OF LEAD</span>
                <p class="modal__about--title--movie">Genre<span class="modal__about--text--genre">Western</span>
                </p>
                </p>
                <p class="about__movie--text">About</p>
                <p class="about__movie--text--content">Four of the West’s most infamous outlaws assemble to steal a huge
                    stash of gold from the most corrupt settlement of the
                    gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of
                    gold hide out in the
                    abandoned gold mine where they happen across another gang of three – who themselves were planning to
                    hit the very same
                    bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with
                    lead... they’ve
                    been double crossed – but by who and how?</p>
                <div class="list__btn--add">
                    <li><button class="add__watched" type="button">add to Watched</button></li>
                    <li><button class="aadd_queue" type="button">add to queue</button></li>
                </div>
            </div>
        </div>
    </div>