
.students-container {
    padding: 40px 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 600px;
    overflow: scroll;
    background-image: url('../images/team/cinema.jpg');
    background-size: cover;

    @media screen and (min-width: 768px){
    
    }
}

.team__container__title{
margin-bottom: 10px;
color:orange;
background-color: black;

@media screen and (min-width: 768px) {
        font-size: 30px;
    }
}
.students-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    align-content: center;
    justify-content: center;
    
    @media screen and (min-width: 768px) {
    grid-template: repeat(3, 1fr) / repeat(3, 150px);
    grid-row-gap: 5px;
        }
    @media screen and (min-width: 1024px){
    grid-template: repeat(4, 1fr) / repeat(4, 150px);
        }
}

.students-item {
    margin-left: 20px;
    margin-top: 5px;
    max-width: 200px;
    border: 3px solid;
    border-image: linear-gradient(white, #545454, #ff6b01, black) 5;
    background-color: grey;
}

.students-photo {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-size: cover;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        transform: scale(1.2);
        border: 2px solid orange;
    }
}

.photo-1 {
    background-image: url('../images/team/evhen.jpg');
}

.photo-2 {
    background-image: url('../images/team/vitaliy.jpg');
}

.photo-3 {
    background-image: url('../images/team/vladimir.jpg');
}

.photo-4 {
    background-image: url('../images/team/tatyana.jpg');
}

.photo-5 {
    background-image: url('../images/team/ihor.jpg');
}

.photo-6 {
    background-image: url('../images/team/alex.jpg');
}
.photo-7 {
    background-image: url('../images/team/serhiy.jpg');
}
.photo-8 {
    background-image: url('../images/team/yaroslav.jpg');
}
.students-name {
    font-size: 10px;
    color: black;
}

.students-role {
    color: orange;
    font-size: 10px;
}

.students-name,
.students-role {
    margin-bottom: 5px;
}

.students-content {
    padding: 5px;
    text-align: center;
}

.students-linkedin,
.students-github {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        transform: scale(1.2);
        background-color: orange;
    }
}

.students-linkedin {
    margin-right: 5px;

    background-size: cover;
    background-image: url('../images/team/linkedin.png');
}

.students-github {
    background-size: cover;
    background-image: url('../images/team/github.png');
}

@media screen and (min-width: 768px) {
    .students-container {
        width: 500px;
        overflow: hidden;
    }

    .students-item {
        flex-basis: calc(100% / 3 - 10px);
    }

    .students-name,
    .students-role {
        font-size: 12px;
    }

    .students-linkedin,
    .students-github {
        width: 22px;
        height: 22px;
    }
}

@media screen and (min-width: 1024px) {
    .students-container {
        width: 900px;
    }

    .students-photo {
        width: 100px;
        height: 100px;
    }

    .students-name,
    .students-role {
        font-size: 18px;
    }

    .students-linkedin,
    .students-github {
        width: 26px;
        height: 26px;
    }
}
