.container-lib {
  @include mq(mobile-only) {
    padding: 20px;
    padding-bottom: 40px;
  }
  padding: 60px 32px;
}
.container-lib__text {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
}

.container-lib__text--span {
  color: orangered;
}
.container-lib__link {
  display: flex;
  width: 125px;
  height: 35px;
  border: 2px solid #ff6b01;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background: #ff6b01;
  border-radius: 5px;
  color: white;
  &:hover,
  &:focus {
    filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  }
}

.div__text--decoration {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.display__none {
  display: none;
}

.body__lib--active {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.main__lib--active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

}
