.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
}
.modal {
  @media screen and (max-width: 767px) {
    width: 280px;
    padding: 48px 20px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 704px;
    padding: 40px 36px;
    padding-right: 72px;
  }
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 806px;
  padding: 40px 12px;
  background-color: white;
}

.button-modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: block;
  background-color: transparent;
  color: black;
}

.button-modal--flex {
  @include mq(mobile-only) {
    display: block;
  }
  display: flex;
}

.button-modal__img {
  width: 375px;
  height: 478px;
  object-fit: cover;
  margin-right: 16px;

  @media screen and (max-width: 1023px) {
    width: 263px;
    height: 374px;
    margin-right: 68px;
  }

  @include mq(mobile-only) {
    max-width: 240px;
    height: 317px;
    margin-bottom: 20px;
  }
}

.modal__about--title {
  @include mq(mobile-only) {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    width: 240px;
  }

  display: block;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  color: #000000;
  margin-bottom: 12px;
}

.modal__about--title--movie {
  @include mq(mobile-only) {
    width: 240px;
  }
  position: relative;
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  color: #8c8c8c;
  margin-top: 8px;
}

.modal__about--rating {
  @media screen and (max-width: 1023px) {
    margin-left: 41px;
  }

  display: block;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  align-items: center;
  text-transform: uppercase;

  color: #ffffff;

  background: #ff6b01;
  border-radius: 5px;
  width: 36px;
  height: 18px;
  padding-top: 3px;

  margin-left: 85px;
}

.modal__about--text--bleck {
  display: block;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;

  background: #f7f7f7;
  border-radius: 5px;
  width: 36px;
  height: 18px;
  padding-top: 3px;

  color: #000000;
}

.modal__about--text--popularity {
  @media screen and (max-width: 1023px) {
    margin-left: 53px;
  }
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #000000;
  margin-left: 97px;
}

.about__movie--text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  align-items: center;
  text-transform: uppercase;

  color: #000000;

  margin-top: 20px;
  margin-bottom: 8px;
}

.modal__about--text--original--title {
  @media screen and (max-width: 1023px) {
    margin-left: 39px;
    width: 130px;
  }
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  align-items: center;
  margin-left: 83px;
  color: #000000;
}
.about__movie--text--content {
  @include mq(mobile-only) {
    overflow-y: scroll;
    height: 115px;
  }
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;

  color: #000000;
  margin-top: 8px;
}
.modal__about--text--genre {
  @media screen and (max-width: 1023px) {
    margin-left: 76px;
  }
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  margin-left: 120px;

  color: #000000;
}

.list__btn--add {
  display: flex;
  list-style: none;
  margin-top: 35px;
  position: relative;
}

.add__watched {
  @include mq(mobile-only) {
    width: 110px;
  }
  @include mq(tablet) {
    width: 125px;
  }
  width: 136px;
  height: 44px;
  background: #ffff;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #000000;
  border: 1px solid black;

  &:hover,
  &:focus {
    transform: scale(0.9);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: #ff6b01;
    border: 1px solid #ff6b01;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.add_queue {
  @include mq(mobile-only) {
    width: 110px;
  }
  @include mq(tablet) {
    width: 125px;
  }
  width: 136px;
  height: 44px;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid black;
  margin-left: 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;

  color: #000000;

  &:hover,
  &:focus {
    transform: scale(0.9);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: #ff6b01;
    border: 1px solid #ff6b01;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.btn__remove {
  @include mq(mobile-only) {
    width: 110px;
  }
  @include mq(tablet) {
    width: 125px;
  }
  // position: absolute;
  // left: 0;
  width: 136px;
  height: 44px;
  background: red;
  border-radius: 5px;
  border: 1px solid red;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;

  color: white;

  &:hover,
  &:focus {
    transform: scale(0.9);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.imdb-btn {
  display: flex;
  padding-top: 1px;
  justify-content: center;
  align-items: center;

  background-color: black;
  color: #e7be00;
  border: 1px solid #e7be00;
  border-radius: 5px;

  font-weight: 500;
  font-size: 11px;
  line-height: 1.33;
  margin-left: 5px;
  height: 18px;
  width: 35px;
}

.imdb-btn:hover,
.imdb-btn:focus {
  filter: drop-shadow(0px 8px 43px rgba(1, 1, 1, 0.6));
  color: white;
  border: 1px solid #000000;
  outline: 2px solid #e7be00;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__about--title--movie-slech {
  font-size: 13px;
  padding: 0 3px;
}

.button-modal__close--svg {
  padding: 10px;
  &:hover,
  &:focus {
    fill: #ff6b01;
    transform: scale(0.9);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
